<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <center>
    <h2>Routes Description</h2>
    <table>
        <tr>
            <th>Method</th>
            <th>Path</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>get</td>
            <td>/users</td>

            <td>Gets All Users</td>
        </tr>
        <tr>
            <td>get</td>
            <td>/users/:id</td>

            <td>Gets a Single User</td>
        </tr>
        <tr>
            <td>post</td>
            <td>/register</td>
            
            <td>Registers and Adds a User</td>
        </tr>
        <tr>
            <td>post</td>
            <td>/login</td>

            <td>Login a User</td>
        </tr>
        <tr>
            <td>put</td>
            <td>/users/:id</td>

            <td>Update a User</td>
        </tr>
        <tr>
            <td>delete</td>
            <td>/users/:id</td>

            <td>Delete a User</td>
        </tr>
    </table>
    </center>
    <br>
    <hr>
    <center>
        <h2>Product Route Description</h2>
    <table>
        <tr>
            <th>Method</th>
            <th>Path</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>get</td>
            <td>/products</td>

            <td>Gets All Products</td>
        </tr>
        <tr>
            <td>get</td>
            <td>/products/:id</td>

            <td>Gets a Single Product</td>
        </tr>
        <tr>
            <td>post</td>
            <td>/products</td>

            <td>Adds a Product</td>
        </tr>
        <tr>
            <td>put</td>
            <td>/products/:id</td>

            <td>Update a Product</td>
        </tr>
        <tr>
            <td>delete</td>
            <td>/products/:id</td>
            
            <td>Delete a Product</td>
        </tr>
    </table>
    </center>
</body>
</html>